.fullcontainer{
  background-color: white !important;
  height: 100vh;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}

.iconimage{
  color: black;
  margin: 1%;
}

.tableheading{
  color: black;
  margin: 1%;
}

.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controlsleft{
  /* width: 40vh; */
  display: flex;
  gap: 1%;
  margin: 2%;
}

.addtask{
  height: 5vh;
  width: 7.5vw;
  background: #941B0F 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin-left: 5%;
}

.tasktable{
  width: 95.5%;
  margin-left: 2%;
}

@media (max-width: 900px) {
  .controlsleft{
    gap: 7%;
  }
  .addtask{
    height: 5vh;
    width: 28vw;
  }
}