.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modalContent {
    background: white;
    border-radius: 8px; 
    padding: 20px; 
    width: 40vw; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 65vh;
    position: relative;
}

.formGroup {
    margin-bottom: 15px;
    background-color: white;
    color: black;
}

.label { 
    display: block; 
    margin-bottom: 5px; 
}

.modalContent input,
.modalContent textarea,
.modalContent select {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.buttonGroup {
    display: flex; 
    justify-content: space-between;
}

.cancelButton {
    color: #941B0F;
    border: 1px solid #941B0F;
    background: white;
    width: 45.5%;
    height: 5vh;
  }
  
  .submitButton {
    background: #941B0F;
    color: white;
    width: 45.5%;
  }

